@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'),
    url('@/assets/fonts/TT Lakes Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Condensed Bold'),
    url('@/assets/fonts/TT Lakes Condensed Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Compressed Black'),
    url('@/assets/fonts/TT Lakes Compressed Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}